# indicates how many records should be insert at a time into MonetDB
batch.size = 10000

mssql.user = dbuser
mssql.password = dbpassword
mssql.server = localhost
mssql.database = my_db
# optional instance name
# mssql.instance = instance_name

monetdb.user = monetdb
monetdb.password = monetdb
monetdb.server = localhost
monetdb.database = my_monetdb

# copy a table
table.example.from = example_table
table.example.to = example_table_new
table.example.schema = sys
table.example.create = true
table.example.truncate = true

# Mail settings
monetdb.mail.sendmail=true
monetdb.mail.to=my.name@something.com
monetdb.mail.from=from@someone.com
monetdb.mail.server=1.1.1.1
monetdb.mail.port=8888
monetdb.mail.username=
monetdb.mail.password=

# use tmp_tables to copy the data to so we can recreate the 
# to-table for faster data transfer to the end table which 
# reduces down-time
table.example.copyViaTempTable = true
table.example.tempTablePrefix = tmp_

# this will create views with the table.example.to name 
# and will backup your table to a backup table
# this will make it possible to switch the underlying table 
# of the view when data copying is complete
# resulting in almost no down-time of your database table
# prefixes can be defined if you want custom naming
table.example.useFastViewSwitching = false
table.example.currentTablePrefix = current_
table.example.backupTablePrefix = backup_